{% extends 'design/base.html' %}
{% load staticfiles %}


    {% block body_block %}
 
                <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                    <button class="btn btn-primary" id="about-btn"> Click Me</button>
                   <h1>Hello</h1>
                   <p>Gangadhar</p>
        
                   <div id="msg">Hello - I'm here for a JQuery Example too</div>
                   <button id="about-btn1" class="btn btn-primary"> Click Me</button>

            </main>
     
        
    {% endblock %}