
{% load staticfiles %}
{% load deisgn_template_tags %}


    <div class="container-fluid">
            <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                    {% block sidebar_block %}
                       
                    {% endblock %} 
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
                {% block body_block %}
                <div class="jumbotron">
                        <h1 class="display-3">Rango says...</h1> {% if user.is_authenticated %}
                        <h1>hey there {{ user.username }}!</h1> {% else %}
                        <h1>hey there partner! </h1> {% endif %}
                        </div>
                        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" width="500" height="300"/>
                        <div class="row marketing">
                        <div class="col-lg-6"> <h4>Most Liked Categories</h4> <p>
                        {% if categories %}
                        <ul>
                        {% for category in categories %}
                        <li><a href="{% url 'show_category' category.slug %}">
                        {{ category.name }}</a></li> {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no categories present.</strong> {% endif %}
                        </p>
                        </div>
                        <div class="col-lg-6">
                        <h4>Most Viewed Pages</h4> <p>
                        {% if pages %}
                        <ul>
                        {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li> {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no categories present.</strong>
                        {% endif %} </p>
                         </div>
                        </div>
                        
                {% endblock %}
            </div>
            </div> </div>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>