{% extends 'design/base.html' %}
{% load staticfiles %}
{% block title %}Search{% endblock %}

{% block body_block %}
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
<div>
    <h1 style="margin-left:5%;margin-top:5%;">Search with Rango</h1>
    <br/>
    <form class="form-inline" id="user_form" method="post" action="{% url 'shiw_category' category.slug %}" style="margin-left:5%;">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" size="50" name="query" value="{{ query }}" id="query"/>
        </div>
        <button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
    </form>
    <div>
        {% if result_list %}
            <h3 style="margin-left:5%;">Results</h3>
            <div class="list-group" style="margin-left:5%;">
                {% for result in result_list %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a href="{{ result.link }}">{{ result.title }}</a>
                        </h4>
                        <p class="list-group-item-text">{{ result.summary }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
</main>
{% endblock %}